body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.inputNeuron {
    fill: #2db6c9;
}

.hiddenNeuron {
    fill: #2db6c9;
}

.outputNeuron {
    fill: #2db6c9;
}

.neuron {
    fill: #2db6c9;
}

.line {
    stroke: rgba(112, 112, 112, 0.93);
    stroke-width: 1px;
}

text {
    pointer-events: none; /* Ensure text doesn't interfere with mouse events */
}
