<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neural Network Visualization with D3.js</title>
    <link rel="stylesheet" href="css/network-d3.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
<!-- Hidden elements to store values from Java -->
<input type="hidden" id="noInputNeurons" th:value="${noInputNeurons}"/>
<input type="hidden" id="noHiddenLayers" th:value="${noHiddenLayers}"/>
<input type="hidden" id="noNeuronsPerHiddenLayer" th:value="${noNeuronsPerHiddenLayer}"/>
<input type="hidden" id="noOutputNeurons" th:value="${noOutputNeurons}"/>
<!-- Hidden element to store neuron values from Java -->
<input type="hidden" id="inputNeuronValues" th:value="${inputNeuronValues}"/>
<input type="hidden" id="hiddenNeuronValues" th:value="${hiddenNeuronValues}"/>
<input type="hidden" id="outputNeuronValues" th:value="${outputNeuronValues}"/>


<div id="container">
    <div id="network"></div>
</div>

<script src="js/network/layers.js"></script>
<script src="js/network/neurons.js"></script>
<script src="js/network/synapses.js"></script>
<script src="js/network-d3.js"></script>
</body>
</html>
